
* {
    padding: 0;
    margin: 0;   
}

@font-face {
	font-family:maven_b;
	src:url(../font/MavenPro-Black.ttf)
}

.maven-font{
    	font-family:"maven_b"
}

#cover {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.PRELIMS .modal-bottom{    
    margin-top: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    text-align: center;
    background-color: #1E6FC1;
    color: white;
    text-align: center;
    
}

h2 {
    margin-top: 10px;
    margin: 5px;
    margin-left: 0;
    text-align: center;
    font-size: 50px;
}

ul li , ol li{
    margin-left: 40px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    margin: 10px;
}

.nested {
    margin-left: 40px;
}

.url {
    text-decoration: underline;
    color: blue;
}

ol {
    display: inline-block;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
}


.buttons {
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

.modal-top {
    padding: 2px 16px;
    background-color: #1E6FC1;
    color: white;
    text-align: center;
    height: 70px;
}

.sem-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
}

body,html {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    position: static;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    background-image: url(../files/background.jpg);
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

button {
    background-color: #1E6FC1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background: rgba(30,111,193,0.5);
    border-radius: 10px;
    transition: 500ms;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    
}

img {
    width: 35%;
}

h2:hover {
    cursor: pointer;
}

.hidden {
    display: none;
    
}

.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    padding-top: 10px; 
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.click:hover {
    cursor: pointer;
}

.download {
    margin-top: 2%;
	position:relative;
	width:66px;
	height:66px;
	border-radius:100px;
	background-color:white;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	cursor:pointer;
	z-index:2;
	overflow:hidden;
    left: 50%;
	bottom:-10%;
	opacity: 1;
}

.download svg {
	height:100%;
	width:25%;
	fill:#BDB099;
	position:absolute;
	top:0;
    left: 39%;
}



.download-text {
        position: relative;
        text-align: center;
        left: 50%;    
}

h1 {
    font-size: 4em;
    text-align: center;
}

.button_menu {
	height: 56px;
	width: 56px;
	border-radius: 100%;
	border: 2px solid white;
	position: absolute;
	left: 25px;
    top: 10px;
	z-index: 10;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.bar {
	height: 2px;
	width: 30px;
	background-color: #FFF;
	position: absolute;
	left: 13px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.bar-1 {
    top: 18px;
}

.bar-2 {
    top: 26px;
}

.bar-3 {
    bottom: 18px
}

.menu-container {
	height: 100%;
	width: 100%;
	background-color: #FFF;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 6;
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	   -moz-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	     -o-transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
	        transition: all 1s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.menu-container.show {
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}

.button_menu.active {
	border: 2px solid black;
}

.button_menu.active .bar {
	background-color: black;
}

.term {
    float: left;
    display: block;
}

.menu-option {
    height: 55px;
	width: 300px;
	margin: auto;
	position: relative;
	overflow: hidden;
	margin-top: 1vw;
	margin-bottom: 1vw;
	cursor: pointer;
}

.content_on_menu {
    text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	font-size: 42px;
	color: #5f5f5f;
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	     -o-transform: translateY(100%);
	        transform: translateY(100%);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.content_on_menu:hover {
    	color: #BDB099;
}

.content_on_menu.active content_menu{
    -webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}

.content_menu {
    position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.maven_b {
    color: black;
}

.content_menu.active .content_on_menu{
    	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}

.button_menu.active .bar-1 {
    top: 21px;
	width: 20px;
	left: 12px;
  	-webkit-transform: rotate(-29deg);
	   -moz-transform: rotate(-29deg);
	    -ms-transform: rotate(-29deg);
	     -o-transform: rotate(-29deg);
	        transform: rotate(-29deg);  
}

.button_menu.active .bar-3 {
    bottom: 23px;
	width: 20px;
	left: 12px;
	-webkit-transform: rotate(29deg);
	   -moz-transform: rotate(29deg);
	    -ms-transform: rotate(29deg);
	     -o-transform: rotate(29deg);
	        transform: rotate(29deg);
}

.button_menu:hover {
	border: 2px solid black;
}

.button_menu:hover .bar  {
	background-color: black;
}





.main.hide {
	opacity: 0;
	position: absolute;
	top: -100%;
}

.MIDTERMS {
    display: none;
	position: absolute;
    background-color: coral;
	z-index: 2;
	width: 100%;
}

.title {
    display: inline-block;
    color: white;
    font-size: 80px;
    margin-top: 95px;
    margin-bottom: 65px;
    position: relative;
    margin-left: 40%;
}

.horizontal-bar {
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: white;
    margin-top: 10px;
}



.MIDTERMS .modal-bottom {    
    margin-top: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    text-align: center;
    background-color: #1E6FC1;
    background-color: coral;
    text-align: center;
}

.PRELIMS {
    display: none;
	position: absolute;
    background-color: #1E6FC1;
	z-index: 2;
	width: 100%;
}

.status-codes {
    -webkit-column-count: 2;
    -o-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
}



.main-body {
    width: 100%;
    height: 100%;
}

.bgimg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-title {
    font-size: 100px;
    color: white;
    position: relative;
}

.text-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

.subscript {
    font-size: 30px;
    text-align: center;
    color: white;
}

.mainpage {  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.PRELIM:hover {
    color: #1E6FC1;
}

.MIDTERM:hover {
    color: coral;
}

.FINALS:hover {
    cursor: not-allowed;
    text-decoration: line-through;
}
